*{
	margin: 0;
	padding: 0;
}
body{
	background: #2a2a2a;
	text-align: center;
}
.main{
	background: #222;
	 position: relative;
	 top: 30vh;
	 left: 70vh;
	 width: 450px;
	 padding: 40px;
}
.main h2{
	color:white;
	margin-bottom:19px ;
	text-decoration:underline;
}
.main p{
	color: whitesmoke;
	margin-bottom: 20px;
}
.main a button{
	margin: 10px;
	padding: 5px 20px;
	background: #1877f2;
	color: white;
	border: 1px solid whitesmoke;
	border-radius:9px;
}
.main a button:hover{
	color:#1877f2;
	background: transparent;
	border: none;
}